{'backend': 'tensorflow',
 'class_name': 'Sequential',
 'config': {'layers': [{'class_name': 'Conv2D',
                        'config': {'activation': 'linear',
                                   'activity_regularizer': None,
                                   'batch_input_shape': [None, 50, 50, 1],
                                   'bias_constraint': None,
                                   'bias_initializer': {'class_name': 'Zeros',
                                                        'config': {}},
                                   'bias_regularizer': None,
                                   'data_format': 'channels_last',
                                   'dilation_rate': [1, 1],
                                   'dtype': 'float32',
                                   'filters': 32,
                                   'kernel_constraint': None,
                                   'kernel_initializer': {'class_name': 'GlorotUniform',
                                                          'config': {'seed': None}},
                                   'kernel_regularizer': None,
                                   'kernel_size': [3, 3],
                                   'name': 'conv2d',
                                   'padding': 'valid',
                                   'strides': [1, 1],
                                   'trainable': True,
                                   'use_bias': True}},
                       {'class_name': 'Activation',
                        'config': {'activation': 'relu',
                                   'dtype': 'float32',
                                   'name': 'activation',
                                   'trainable': True}},
                       {'class_name': 'MaxPooling2D',
                        'config': {'data_format': 'channels_last',
                                   'dtype': 'float32',
                                   'name': 'max_pooling2d',
                                   'padding': 'valid',
                                   'pool_size': [2, 2],
                                   'strides': [2, 2],
                                   'trainable': True}},
                       {'class_name': 'Conv2D',
                        'config': {'activation': 'linear',
                                   'activity_regularizer': None,
                                   'bias_constraint': None,
                                   'bias_initializer': {'class_name': 'Zeros',
                                                        'config': {}},
                                   'bias_regularizer': None,
                                   'data_format': 'channels_last',
                                   'dilation_rate': [1, 1],
                                   'dtype': 'float32',
                                   'filters': 64,
                                   'kernel_constraint': None,
                                   'kernel_initializer': {'class_name': 'GlorotUniform',
                                                          'config': {'seed': None}},
                                   'kernel_regularizer': None,
                                   'kernel_size': [3, 3],
                                   'name': 'conv2d_1',
                                   'padding': 'valid',
                                   'strides': [1, 1],
                                   'trainable': True,
                                   'use_bias': True}},
                       {'class_name': 'Activation',
                        'config': {'activation': 'relu',
                                   'dtype': 'float32',
                                   'name': 'activation_1',
                                   'trainable': True}},
                       {'class_name': 'MaxPooling2D',
                        'config': {'data_format': 'channels_last',
                                   'dtype': 'float32',
                                   'name': 'max_pooling2d_1',
                                   'padding': 'valid',
                                   'pool_size': [2, 2],
                                   'strides': [2, 2],
                                   'trainable': True}},
                       {'class_name': 'Conv2D',
                        'config': {'activation': 'linear',
                                   'activity_regularizer': None,
                                   'bias_constraint': None,
                                   'bias_initializer': {'class_name': 'Zeros',
                                                        'config': {}},
                                   'bias_regularizer': None,
                                   'data_format': 'channels_last',
                                   'dilation_rate': [1, 1],
                                   'dtype': 'float32',
                                   'filters': 64,
                                   'kernel_constraint': None,
                                   'kernel_initializer': {'class_name': 'GlorotUniform',
                                                          'config': {'seed': None}},
                                   'kernel_regularizer': None,
                                   'kernel_size': [3, 3],
                                   'name': 'conv2d_2',
                                   'padding': 'valid',
                                   'strides': [1, 1],
                                   'trainable': True,
                                   'use_bias': True}},
                       {'class_name': 'Activation',
                        'config': {'activation': 'relu',
                                   'dtype': 'float32',
                                   'name': 'activation_2',
                                   'trainable': True}},
                       {'class_name': 'MaxPooling2D',
                        'config': {'data_format': 'channels_last',
                                   'dtype': 'float32',
                                   'name': 'max_pooling2d_2',
                                   'padding': 'valid',
                                   'pool_size': [2, 2],
                                   'strides': [2, 2],
                                   'trainable': True}},
                       {'class_name': 'Dropout',
                        'config': {'dtype': 'float32',
                                   'name': 'dropout',
                                   'noise_shape': None,
                                   'rate': 0.25,
                                   'seed': None,
                                   'trainable': True}},
                       {'class_name': 'Flatten',
                        'config': {'data_format': 'channels_last',
                                   'dtype': 'float32',
                                   'name': 'flatten',
                                   'trainable': True}},
                       {'class_name': 'Dense',
                        'config': {'activation': 'linear',
                                   'activity_regularizer': None,
                                   'bias_constraint': None,
                                   'bias_initializer': {'class_name': 'Zeros',
                                                        'config': {}},
                                   'bias_regularizer': None,
                                   'dtype': 'float32',
                                   'kernel_constraint': None,
                                   'kernel_initializer': {'class_name': 'GlorotUniform',
                                                          'config': {'seed': None}},
                                   'kernel_regularizer': None,
                                   'name': 'dense',
                                   'trainable': True,
                                   'units': 128,
                                   'use_bias': True}},
                       {'class_name': 'Activation',
                        'config': {'activation': 'relu',
                                   'dtype': 'float32',
                                   'name': 'activation_3',
                                   'trainable': True}},
                       {'class_name': 'Dense',
                        'config': {'activation': 'linear',
                                   'activity_regularizer': None,
                                   'bias_constraint': None,
                                   'bias_initializer': {'class_name': 'Zeros',
                                                        'config': {}},
                                   'bias_regularizer': None,
                                   'dtype': 'float32',
                                   'kernel_constraint': None,
                                   'kernel_initializer': {'class_name': 'GlorotUniform',
                                                          'config': {'seed': None}},
                                   'kernel_regularizer': None,
                                   'name': 'dense_1',
                                   'trainable': True,
                                   'units': 128,
                                   'use_bias': True}},
                       {'class_name': 'Activation',
                        'config': {'activation': 'relu',
                                   'dtype': 'float32',
                                   'name': 'activation_4',
                                   'trainable': True}},
                       {'class_name': 'Dense',
                        'config': {'activation': 'linear',
                                   'activity_regularizer': None,
                                   'bias_constraint': None,
                                   'bias_initializer': {'class_name': 'Zeros',
                                                        'config': {}},
                                   'bias_regularizer': None,
                                   'dtype': 'float32',
                                   'kernel_constraint': None,
                                   'kernel_initializer': {'class_name': 'GlorotUniform',
                                                          'config': {'seed': None}},
                                   'kernel_regularizer': None,
                                   'name': 'dense_2',
                                   'trainable': True,
                                   'units': 8,
                                   'use_bias': True}},
                       {'class_name': 'Activation',
                        'config': {'activation': 'softmax',
                                   'dtype': 'float32',
                                   'name': 'activation_5',
                                   'trainable': True}}],
            'name': 'sequential'},
 'keras_version': '2.2.4-tf'}